/* archivo de fonts 
	font-family: 'Bitter', serif;
	font-family: 'Open Sans', sans-serif;
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter);
/* importamos el archivo _colores.scss variables de colores */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* al agregar padding y margin box no se modifica */ }

body {
  background: #f2f2f2;
  font-size: 16px;
  font-family: 'Bitter', serif; }

.wrap {
  width: 90%;
  max-width: 500px;
  margin: auto; }

form {
  position: relative;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px grey;
  border-top: 4px solid #FF851B;
  /* overflow: hidden; */ }
  form input[type="text"],
  form textarea[name="mensaje"] {
    border: 1px solid #0074D9;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1em;
    color: #0074D9;
    padding: 10px;
    font-family: 'Open Sans', sans-serif; }
    form input[type="text"]:focus,
    form textarea[name="mensaje"]:focus {
      border: 2px solid #3f51b5;
      padding: 11px; }
  form textarea[name="mensaje"] {
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 150px; }

.alert {
  padding: 1em;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  font-family: 14px; }

.alert.error {
  background: #FFCCBC;
  border: 1px solid #FF4136;
  color: #FF4136; }

.alert.success {
  background: #2ECC40; }

.btn {
  padding: 15px;
  background: #FF5722;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

.derecha {
  text-align: right; }
