
$agua:  #7FDBFF;
$azul:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$verde: #2ECC40;
$olivo: #3D9970;
$limon:  #01FF70;

$amarillo:  #FFDC00;
$naranja:  #FF851B;
$rojo:     #FF4136;
$fiusa: #F012BE;
$purpura:  #B10DC9;
$marron:  #85144B;
$blanco:  #FFFFFF;
$plata: #DDDDDD;
$gris:   #AAAAAA;
$negro:  #111111;
$gris-claro: #999;

