/* archivo de fonts 
	font-family: 'Bitter', serif;
	font-family: 'Open Sans', sans-serif;
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter);
/* importamos el archivo _colores.scss variables de colores */

$agua:  #7FDBFF;
$azul:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$verde: #2ECC40;
$olivo: #3D9970;
$limon:  #01FF70;
$gris-claro: #f2f2f2;
$amarillo:  #FFDC00;
$naranja:  #FF851B;
$rojo:     #FF4136;
$fiusa: #F012BE;
$purpura:  #B10DC9;
$marron:  #85144B;
$plata: #DDDDDD;
$gris:   #AAAAAA;
$negro:  #111111;
$blanco: #fff;


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;/* al agregar padding y margin box no se modifica */
	
}
body
{
	background: $gris-claro;
	font-size: 16px;
	font-family: 'Bitter', serif;
}
.wrap
{
	width: 90%;
	max-width: 500px;
	margin: auto;
}
form
{
	position: relative;
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	background: $blanco;
	box-shadow: 0 0 5px grey;
	border-top: 4px solid $naranja;
	/* overflow: hidden; */
	input[type="text"],
	textarea[name="mensaje"]
	{
		border: 1px solid $azul;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		font-size: 1em;
		color: $azul;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		&:focus
		{
			border: 2px solid #3f51b5;
			padding: 11px;
		}
	}
	textarea[name="mensaje"]
	{
		
		max-width: 100%;
		min-width: 100%;
		max-height: 300px;
		min-height: 150px;
	}
}
.alert
{
	padding: 1em;
	color: $blanco;
	border-radius: 2px;
	margin-bottom: 20px;
	font-family: 14px; 
}
.alert.error
{
	background: #FFCCBC;
	border: 1px solid $rojo;
	color: $rojo;
}
.alert.success
{
	background: $verde;

}
.btn
{
	padding: 15px;
	background: #FF5722;
	border: none;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
}
.derecha
{
	text-align: right;
}